.container {
    width: 80%;
    max-width: 1240px;

    margin: 0 auto;
}

.titulo {
    font-family: 'Secular One', sans-serif;
    font-size: 40px;

    margin: 3rem 0 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.labels {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;

    margin: .7rem 0;
}

.fields {
    width: 50%;

    display: block;

    padding: .6rem;
    border: 2px solid #d9d9d9;
    border-radius: 5px;

    outline: none;

    resize: none;

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.fields::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.button-save {
    background: #33cc94;

    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;

    border: none;
    border-radius: 30px;
    margin: 1rem 0 5rem;
    padding: .7rem;

    width: 15%;
}

.button-save:hover {
    background: #2ab07f;
    cursor: pointer;
}