.homepage {
    width: 80%;
    max-width: 1240px;

    margin: 0 auto;
    /* background: #121214; */

    font-family: 'Secular One', sans-serif;
}

.titulo {
    
    font-size: 20px;
}

.descricao {
    font-size: 60px;
    
}