.homepage {
    width: 80%;
    max-width: 1240px;

    margin: 0 auto;
    padding: 10rem;

    font-family: 'Secular One', sans-serif;
}

.title {
    font-size: 25px;
    color: #34cc94;
}

.descricao {
    font-size: 60px;
    
}